footer{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 80%;
    height: fit-content;
    gap: 10px;
    margin: 20px 0 10px 0;
}
.container-extra-buttons{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    width: 80%;
    height: fit-content;
    gap: 10px;
    margin: 10px 0 10px 0;
}
#deleteEveryLinkLocal, #CopyEveryLinkLocal, #SpaceLinkLocal{
    font-family: 'Comic Neue', cursive;
    color: #0B0F14;
    width: 150px;
    height: 30px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}
#deleteEveryLinkLocal{
    background: #EF4444;
}
#CopyEveryLinkLocal{
    background: #3B82F6;
}
#SpaceLinkLocal{
    background: #60A5FA;
}
.container-help-links{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    width: fit-content;
    height: fit-content;
}
.container-help-links a{
    color: #9FB0C3;
    font-family: 'Comic Neue', cursive;
}
@media (max-width: 500px) {
    footer{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: 90%;
        height: fit-content;
        gap: 10px;
    }
}
#footerCopyRight{
    font-family: 'Comic Neue', cursive;
    color: #9FB0C3;
}