*{
    margin: 0;
    padding: 0;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background: #0B0F14;
}
h1, .consejo-texto{
    font-family: 'Comic Neue', cursive;
    color: #E5ECF4;
    margin: 0 0 0 10px;
}
.consejo-texto{
    text-align: center;
    margin: 0;
    width: 80%;
}
@media (max-width: 500px) {
    h1{
        font-family: 'Comic Neue', cursive;
        color: #E5ECF4;
        margin-bottom: 10px;
    }
}
main{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 99%;
    height: auto;
    gap: 20px;
    margin: 10px 0 10px 0;
}
hr{
    width: 80%;
}
.top-img-character{
    max-width: 400px;
    width: 100%;
    height: fit-content;
    opacity: .6;
    animation-name: frieren;
    animation-timing-function: ease-in-out;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    animation-fill-mode: forwards;
    animation-direction: alternate;
}
@keyframes frieren {
    from {transform: translateY(10px);}
    to {transform: translateY(-10px);}
}