.container-local-links-instagram{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: fit-content;
}
.instagramBlock{
    width: 100%;
    height: fit-content;
}