.containerHub{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: fixed;
    width: 600px;
    height: 350px;
    border: none;
    border-radius: 10px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 200;
}
.frameHub{
    width: 100%;
    height: 350px;
    object-fit: contain;
    border: none;
    border-radius: 10px;
}
.frameClose{
    width: 80%;
    height: 30px;
    border: none;
    border-radius: 5px;
    background: #EF4444;
    cursor: pointer;
}
@media (max-width: 700px) {
    .frameHub{
        position: fixed;
        width: 100%;
        height: fit-content;
        object-fit: contain;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 200;
    }
}
/*BUTTON PH CLICKED*/
.displayHubFrames{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    max-width: 1300px;
    position: relative;
    width: 100%;
    height: fit-content;
    gap: 10px;
    margin-bottom: 80px;
}
.hubBox{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: fit-content;
    gap: 20px;
}
.framedHub{
    width: 400px;
    height: 250px;
    border: none;
    border-radius: 10px;
}
/*CONTAINER BOTONES NEXT PAST*/
.containerNextPast{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-between;
    align-self: center;
    flex-direction: row;
    bottom: -50px;
    gap: 10px;
    width: 100%;
    height: fit-content;
}
.nextPage, .pastPage{
    width: 800px;
    height: 30px;
    border: none;
    border-radius: 5px;
    background: #3B82F6;
    cursor: pointer;
}
@media (max-width: 700px) {
    .displayHubFrames{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: 100%;
        height: fit-content;
        gap: 60px;
    }
    .hubBox{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: 100%;
        height: fit-content;
    }
    .framedHub{
        width: 100%;
        height: 250px;
        border: none;
        border-radius: 10px;
    }
}