#statusConteo{
    font-family: 'Comic Neue', cursive;
    color: #9FB0C3;
}
.container-local-links-user{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    width: 80%;
    height: fit-content;
}
.text-if-not-links{
    font-family: 'Comic Neue', cursive;
    color: #9FB0C3;
}
.linkBox{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    gap: 10px;
    width: 100%;
    height: fit-content;
    background: #1a232e;
    border-radius: 5px;
}
.linkA{
    font-family: 'Comic Neue', cursive;
    color: #9FB0C3;
    margin: 10px 0 10px 10px;
    overflow-wrap: break-word;
    word-break: break-word;
    white-space: normal;
}
.container-buttons-link{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 10px;
    width: fit-content;
    height: fit-content;
    margin: 10px 10px 10px 0;
}
.linkRemove, .linkDisplay{
    font-family: 'Comic Neue', cursive;
    color: #0B0F14;
    width: 150px;
    height: 30px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}
.linkRemove{
    width: 80px;
    background: #EF4444;
}
.linkDisplay{
    width: 150px;
    background-color: #60A5FA;
}
#statusLinksLocal{
    font-family: 'Comic Neue', cursive;
    color: #9FB0C3;
}