@media (max-width: 700px) {
    nav{
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: column;
        width: 99%;
        height: fit-content;
        margin: 10px 0 10px 0;
    }
    .container-icons{
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        flex-direction: column;
        gap: 10px;
        width: 80%;
        height: fit-content;
        margin: 10px 0 0 0;
    }
    .container-icons-first{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 10px;
        width: 100%;
        height: fit-content;
    }
    #añadirLink, #extraBtn, #PHBtn, #randomBtn, #instaBtn{
        font-family: 'Comic Neue', cursive;
        font-weight: bold;
        width: 100%;
        height: 35px;
        color: #0B0F14;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }
    #instaBtn{
        background: #6c35eb;
    }
    #randomBtn{
        background-color: #60A5FA;
    }
    #extraBtn{
        color: #9FB0C3;
        background: #0B0F14;
        border: #3B82F6 solid 2px;
    }
    #PHBtn{
        background: #3bf689;
    }
}