@media (max-width: 700px) {
    nav{
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: column;
        width: 99%;
        height: fit-content;
        margin: 10px 0 10px 0;
    }
    .container-icons{
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        flex-direction: row;
        gap: 10px;
        width: fit-content;
        height: fit-content;
    }
    #añadirLink, #extraBtn, #PHBtn{
        font-family: 'Comic Neue', cursive;
        font-weight: bold;
        width: 100px;
        height: 35px;
        color: #0B0F14;
        border: none;
        border-radius: 5px;
        background: #3B82F6;
        cursor: pointer;
    }
    #extraBtn{
        color: #9FB0C3;
        width: 65px;
        background: #0B0F14;
        border: #3B82F6 solid 2px;
    }
    #PHBtn{
        width: 65px;
        background: #3bf689;
    }
}