@media (max-width: 700px) {
    .container-local-links-user{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 10px;
        width: 100%;
        height: fit-content;
    }
    .linkBox{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 10px;
        width: 90%;
        height: fit-content;
        background: #1a232e;
        border-radius: 5px;
    }
    .container-buttons-link{
        display: grid;
        grid-template-columns: 2fr 1fr;
        gap: 10px;
        width: 95%;
        height: fit-content;
    }
    .linkA{
        font-family: 'Comic Neue', cursive;
        align-self: center;
        justify-self: center;
        color: #9FB0C3;
        width: 100%;
    }
    .linkRemove, .linkDisplay{
        font-family: 'Comic Neue', cursive;
        color: #0B0F14;
        width: 100%;
        height: 30px;
        border: none;
        border-radius: 3px;
        cursor: pointer;
    }
    .linkRemove{
        background: #EF4444;
    }
    .linkDisplay{
        background-color: #60A5FA;
    }
}